<web-app>      
    <servlet>
        <servlet-name>create</servlet-name>
        <servlet-class>servlets.Create</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>create</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>servlets.Update</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>servlets.Delete</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
</web-app>  